* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
        background-color: #407BFF;
}

 .navbar-brand {
        margin: 0;
        padding: 0;
        color: #FFF;
        width: 5vw;
}

 .main-container {
        width: 95vw;
}

 .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
}

.img-container img {
        width: 90%;
}

.form-control {
    margin-bottom: 10px; /* Adiciona um espaço de 10px entre os inputs */
}

@media (min-width: 360px) and (max-width: 720px) { 
    .flex-container {
        flex-direction: column;
        margin: 5rem 2rem 5rem 2rem;
    }

    .flex-container .button {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .img-container {
        text-align: center;
    }
}

@media (min-width: 721px){ 
    .main-container {
        height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-container {
       width: 80%;
       height: 50%;
    }

    .description-container {
        margin: 5rem 2rem;
    }
} 
